<footer class="footer">
  <app-container size="xl">
    <div class="footer__inner">
      <div class="footer__brand">
        <app-text variant="body" class="footer__name">
          {{ name }}
        </app-text>
        <app-text variant="caption" element="span" class="footer__positioning">
          {{ labels().positioning }}
        </app-text>
      </div>

      <div class="footer__meta">
        <app-text variant="caption" element="span" class="footer__stack">
          {{ labels().stackInfo }}
        </app-text>
        <app-text variant="caption" element="span" class="footer__principles">
          {{ labels().engineeringPrinciples }}
        </app-text>
        <app-text variant="caption" element="span" class="footer__copyright">
          {{ labels().copyright }}
        </app-text>
      </div>
    </div>
  </app-container>
</footer>