.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-5);
  padding-right: var(--space-5);

  @media (min-width: 480px) {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }

  @media (min-width: 768px) {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }

  @media (min-width: 1024px) {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }

  &--sm {
    max-width: var(--container-sm);
  }

  &--md {
    max-width: var(--container-md);
  }

  &--lg {
    max-width: var(--container-lg);
  }

  &--xl {
    max-width: var(--container-xl);
  }

  &--full {
    max-width: 100%;
  }
}
